/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900 */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.banner {
  background-image: url("images/banner.png");
  background-repeat: no-repeat;
  background-size: auto;
}
.ticket {
  height: 2208px;
  background: rgb(247, 248, 248);
}
